<body>
    

<div class="container main-box">
    <h2 class="d-flex justify-content-center">Welcome to the Dashboard</h2>
  
   <form> 
      <div class="form-group mt-3">
      <label for="questionIdInput"><b> Question :</b></label>
      <input type="text" class="form-control" id="questionIdInput" [(ngModel)]="questionText" name="questionText" placeholder="Enter the question" style="height: 50px">
    </div>
  
    <div class="form-group mt-3">
      <label for="domainInput"> <b> Question Code: </b></label>
      <input type="text" class="form-control" id="domainInput" [(ngModel)]="code" name="code" placeholder="Enter the question code" style="height: 50px">
    </div>
  
    <div class="form-group mt-3">
      <label for="labelInput"> <b> Marks: </b></label>
      <input type="number" class="form-control" id="labelInput" [(ngModel)]="weight" name="weight" placeholder="Enter the marks" style="height: 50px">
    </div>
    </form>
    
    <div class="d-flex justify-content-center">
        <button class="btn btn-primary mt-3" style="width: 80%;" (click)="submitQuestion()">Submit</button>
      </div>
        </div>
  <br>



    <!-- Display submitted data -->
    <div class="d-flex justify-content-center" *ngIf="questionText || code || weight">
      <p><b>Question:</b> {{ questionText }}</p>
      <p><b>Question Code:</b> {{ code }}</p>
      <p><b>Marks:</b> {{ weight }}</p>
    </div>
  

  
  <div class="container main-box" >
    <h2 class="d-flex justify-content-center">Fetched Questions</h2>
  
   
    <!-- Display fetched questions -->
    <ul class="list-group" class="input-bg">
      <li class="list-group-item" *ngFor="let question of questions" >
        <div class="card" class="input-bg">
          <div class="card-body">
            <h5 class="card-title bg-secondary text-white p-2 rounded-top">Id: {{ question.id }}</h5>
            <div class="row">
              <div class="col">
                <h5 class="card-title">Text:</h5>
                <p class="card-text">
                  <span [hidden]="question.editMode">{{ question.questionClass.labels[0].text }}</span>
                  <input type="text" [(ngModel)]="question.questionClass.labels[0].text" class="form-control" [hidden]="!question.editMode" />
                </p>
              </div>
            </div>
            <div class="row mt-3">
              <div class="col">
                <p class="card-text"> <b> Code: {{ question.questionClass.labels[0].language.code }}</b></p>
              </div>
              <div class="col">
                <p class="card-text"><b> Weight: {{ question.weight }}</b></p>
              </div>
            </div>
            <div class="d-flex justify-content-end">
              <button class="btn btn-danger me-2" (click)="deleteQuestion(question.id)">Delete</button>            
              <button class="btn btn-primary ml-2 me-2" [disabled]="question.editMode" (click)="editQuestion(question)">Edit</button>
              <button class="btn btn-success ml-2" *ngIf="question.editMode" (click)="saveQuestion(question)">Save</button>
            </div>
            <br>
          </div>
        </div>
      </li>
    </ul>
    
    
   
  </div>
</body>